    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

    body {
        background-image: url("../img/fon.png");
        height: 100vh;
        font-family: 'Roboto Condensed';
      }

      header{
        display: flex;
        height: 15%;
      }

      .menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
      }

      .title {
        font-size: 2rem;
        color: white;
        margin: auto;
      }

      .modal-menu{
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          width: 100%;
          padding: 0 30px 30px;
          border-radius: 6px;
          text-align: center;
          visibility: hidden;
          transition: 0.5s;
          height: 50%;
        }

      .modal-menu.show {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
      }

      .conteiner {
        width: 100%;
        height: 85%;
        display: flex;
        box-sizing: border-box; 
        justify-content: center;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px; 
        padding: 10px; 
        place-items: center;
        width: 100%; 
        max-width: 1140px; 
        min-width: 800px;
        margin: auto auto;
        min-height: 500px;
        min-width: 150px;
      }

      .conteiner-field {
        background-image: url("../img/playing_field.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 60%;
        display: flex;
        min-height: 600px;
        min-width: 200px;
        
      }

      .card {
        width: 6vw;
        height: 16vh;
        min-height: 100px;
        min-width: 80px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.6s ease;
        transform-style: preserve-3d;
        position: relative; 
      }

      .card .front,
      .card .back {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5%;
        border: 3px solid #013220;
      }

      .card .front {
        background-image: url("../img/background_card.jpg");
        transform: rotateY(0deg); 
      }

      .card .back {
        background-color: transparent;
        transform: rotateY(180deg); 
      }


      .conteiner-timer {
        margin: auto; 
        padding: 10px 20px;
        color: white;
        width: 10%;
        font-size: 2.5rem;
        font-weight: bold;
        border-radius: 8px;
        text-align: center;
        width: fit-content;
      }


      .stop {
        width: 10%;
        height: 50%;
        min-width: 15vw;
         min-width: 15vh;
        padding: 1.2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../img/btn_menu.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        position: relative;
        margin: auto;
      }

      

      .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
        transition:
          visibility 0.3s,
          opacity 0.3s;
      }

      .modal-background.show {
        visibility: visible;
        opacity: 1;
      }

      .modal-menu-stop {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
      }

      .btn_menu{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        margin-bottom: 6%;
        min-width: 256px;
        min-height: 100px;
      }
      .modal-menu-resume{
        background-image: url("../img/btn_menu_resume.png");
      }
      .modal-menu-exit{
        background-image: url("../img/btn_menu_exit.png");
      }
      .modal-menu-remove {
        background-image: url("../img/btn_menu_remove.png");
      }

      .btn_menu:hover{
        transform: translateY(-2px);
      }

      .btn_menu:active {
        transform: translateY(0) scale(0.98);
      }

      .modal-menu-failed {
        display: none;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
      }

      .modal-menu-failed p {
        color: white;
        font-weight: 600;
        text-align: center;
        font-size: 3.5rem;
        white-space: nowrap;
        width: 100%;
        margin-bottom: 4%;
        
      } 

    
